{% extends 'base.html.twig' %}

{% block body %}
<div id="persons-list-container">
    <!-- React PersonList goes here -->
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('persons') }}
{% endblock javascripts %}
