@import "variables";

.form-section-header {
    display: flex;
    flex-direction: row;
    margin: 24px 0px;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;

    div {
        margin: auto 12px;
    }

    h3 {
        position: relative;
        top: 2px;
    }
}

.associated-persons {
    li {
        list-style-type: none;
    }
}

.form-control:disabled, .form-control[readonly] {
	background-color: #ffffff;
    opacity: 1;
    &:focus {
        background-color: #f0f4f7;
    }
}

.person-form,
.embed-person-form {
    &.card-grid {
        margin-bottom: 12px;
        .btn {
            float: right;
            position: relative;
            top: 36%;
        }
    }
}

.embed-form-grid {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: 1fr 1fr;
}

// Autocomplete styles
.form-group.autocomplete {
    position: relative;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #ced4da;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;

    div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #ced4da;

        &:hover {
            background-color: $grey-lighterer;
        }
    }
}

.autocomplete-active {
    background-color: $primary-lightest !important;
    color: $grey-darkest;
}
