<div class="sidebar">
    <div class="sidebar-section">
        <div class="sidebar-heading">
            Recent Cases
        </div>
        <ul class="sidebar-links">
            <li class="sidebar-item">
                <a href="#">Fender Bender</a>
            </li>
            <li class="sidebar-item">
                <a href="#">HABA Heist 3</a>
            </li>
            <li class="sidebar-item">
                <a href="#">Parking Lot Showdown</a>
            </li>
            <li class="sidebar-item">
                <a href="#">Rib-eye Snatch and Grab</a>
            </li>
            <li class="sidebar-item">
                <a href="#">Steamed Hams</a>
            </li>
        </ul>
    </div>

    <div class="sidebar-section">
        <div class="sidebar-heading">
            Filters
        </div>
        <ul class="sidebar-links">
            <li class="sidebar-item">
                <a href="#">Category</a>
            </li>
            <li class="sidebar-item">
                <a href="#">Date</a>
            </li>
            <li class="sidebar-item">
                <a href="#">Person</a>
            </li>
            <li class="sidebar-item">
                <a href="#">Description</a>
            </li>
        </ul>
    </div>

</div>