<div class="sidebar">
    <ul class="sidebar-links">
        <li class="sidebar-item">
            <a href="#">Link 1</a>
        </li>
        <li class="sidebar-item">
            <a href="#">Link 2</a>
        </li>
        <li class="sidebar-item">
            <a href="#">Link 3</a>
        </li>
        <li class="sidebar-item">
            <a href="#">Link 4</a>
        </li>
    </ul>
</div>