{% extends 'base.html.twig' %}
{% block title %}Reports{% endblock %}

{% block body %}
<div id="report-container">
    {# React Component goes here #}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reports') }}
{% endblock javascripts %}

